  {% extends 'layout.html' %}
  {% load static %}
  {% block content %}

  <section class="">
    <div class="container py-5 h-75">
      <div class="d-flex justify-content-center h-75">
        <div class="">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="d-flex align-items-center w-100">
                <div class="card-body p-4 text-black">
                  <form method="POST" action="{% url 'website:login' %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      {% comment %} <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i> {% endcomment %}
                      {% comment %} <span class="h1 fw-bold mb-0">Logo</span> {% endcomment %}
                    </div>
  
                    <h5 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">LOG-IN <span><img src="{% static 'login.png' %}" height="30px"></span></h5>
  
                    <div class="form-outline mb-4">
                      <label class="form-label text-muted" for="username" >Email</label>
                      <input type="text" id="username" name="username" class="form-control form-control-lg rounded border-bottom"/>
                      
                    </div>
  
                    <div class="form-outline mb-4">
                      <label class="form-label text-muted" for="password">Password</label>
                      <div class="input-group">
                        <input type="password" id="password" name="password" class="form-control form-control-lg border-bottom rounded"/>
                        <div class="input-group-text" style="border:none !important">
                          <img src="{% static 'visible.png'%}" height="20px" id="see-password">
                        </div>
                      </div>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button type="submit" class="btn btn-dark btn-lg btn-block button" >Login</button>
                    </div>
                    {% if messages %}
                    <ul class="errors list-group m-3">
                      {% for message in messages %}
                        <li class="text-danger" style="font-size:14px">
                          {{message | capfirst }}
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    <p class="mb-5 pb-lg-2 text-muted">Don't have an account? <a href="{% url 'website:Signup' %}" class="fw-bold text-dark">Register here</a></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
  </section>

  {% endblock content %}