<div class="alert alert-success show w-25 fade in text-center" id="item-add-success-alert" role="alert" 
               style="
                  position:absolute;
                  z-index:1070;
                  display:none;
                  position:top-right;
                  left:50%;
                  width: 250px; top: unset; right: 10px; bottom: 10px;
                  transform: translate(-50%);
               "></div>
<div class="alert alert-warning show w-25 fade in text-center " id="item-add-failure-alert" role="alert" 
               style="
                  position:absolute;
                  z-index:1070;
                  display:none;
                  position:top-right;
                  left:50%;
                  width: 250px; top: unset; right: 10px; bottom: 10px;
                  transform: translate(-50%);
            "></div>