{% load static %}

      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <!-- Google Font API-->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
      <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static '/bootstrap.min.css/ '%}" crossorigin="anonymous">
      <script src="{%  static 'popper.min.js' %}" crossorigin="anonymous"></script>
      <script src="{% static 'bootstrap.min.js' %}" crossorigin="anonymous"></script>
      <!-- Bootstrap -->

      <!-- font-awesome-links -->
      <script src="https://kit.fontawesome.com/430063ff42.js" crossorigin="anonymous"></script>

      
     <!-- MDB -->
     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
      <!-- MDB -->
      
      <!-- Custom css scripts -->  
      <link rel="stylesheet" href="{% static '/index.css/' %}"/>
      <script src="{% static 'jquery.min.js' %}"></script>
      <script async src="{% static '/index.js' %}"></script>


      <!--- Swiper Slider  --->
      <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>